.dropdown {
   display: flex;
   flex-direction: column;
   position: absolute;
   right: -1.45rem;
   left: auto;
   top: 3.8rem;
   box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(71, 63, 79, 0.16);
   z-index: 9999;
   min-width: 10rem;
   padding: .6rem .65rem .5rem;
   list-style: none;
   background-color: #555;
   border-radius: 0 0 0 0.5rem;
   gap: .5rem;
   text-align: center;
   max-width: 50vw;
   color: #F5F5F5;
}

.dropdown a {
   font-size: .8rem;
   color: #fff;
}

.dropdown button {
   background: none;
   border: none;
   cursor: pointer;
}

.dropdown svg {
   fill: #fff;
   height: 24px;
   width: auto;
}

.mobile {
   display: flex;
   flex-direction: column;
}


@media (min-width: 968px) {
   .dropdown {
      /* padding-top: 0.7rem; */
      right: -2.5rem;
      gap: .75rem;
   }

   .dropdown a {
      font-size: 1rem;
   }
}

@media (min-width: 768px) {
   .dropdown {
      min-width: 7rem;
   }
   
   .mobile {
      display: none;
   }
}

@media (min-width: 536px) {
   .dropdown {
      top: 3.55rem;
      border-radius: 0 0 0.5rem 0.5rem;
   }
   .dropdown li {
      padding: 0 !important;
   }
}

@media screen and (hover: hover) {
   .dropdown a:hover {
      color: #94fdfd;
   }
   .dropdown button:hover svg {
      fill: #94fdfd;
   }
}